<h3>CONCERT.artistConcerts {{ artistName }}</h3>
<div class="phrase" *ngIf="concerts.length === 0">CONCERT.phraseConcerts</div>
<div class="row" *ngIf="concerts.length > 0">

    <google-map class="map" [center]="center" [zoom]="zoom">
        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"></map-marker>
    </google-map>

    <div class="shows">

         <!-- Liste des concerts -->
         <div *ngFor="let concert of concerts">
            <h4>{{ concert.datetime }}</h4>
            <p>{{ concert.venue.country }}</p>
            <p>{{ concert.venue.city }}</p>
        </div>
    </div> 

</div>
